@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400&family=Space+Grotesk:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body, html{
    height: 100%;
    width:100%;
   
}


/*  text */

 
body {
    font-weight: 300;
    color: #555b6e;
    font-family: 'Space Grotesk', sans-serif;
}

p {
    font-family: 'Space Grotesk', sans-serif;
}

h1, h2 {
    font-family: 'IBM Plex Sans', sans-serif;
}

h1{
    font-size: 250%;
    text-align: center;
}


/* logo */

#logo img{
    width:6%;
    position:absolute;
    top:2%;
    left:2%;


}


#logo img:hover{
    border: 2px solid #598392;


}

/* navigation bar */
.flex-container  {
    display:flex;
    justify-content: center;
    align-items: center;
  
       
  }
  

  .navbar {
      display:flex; 
      justify-content: center;
      flex-direction: row-reverse;
      align-items: center;
      gap:5%;
      margin-top: 2%;
}

  .navbar a{
    display: block;
    padding: 1em;
    text-decoration: none;
    color: inherit;
    background-color: transparent;
    border-bottom: 1px solid #598392;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 80%;

  }


.navbar li {
    list-style-type: none;
   
}


.navbar a {
    text-decoration: none;
    color: inherit;
    background-color: transparent;
    border-bottom: 1px solid #598392;
    
}

  .navbar a:hover {
    border-bottom: 2px solid #598392;
    border-top: 2px solid #598392;
    color:#598392;
   
}

/*signup button */
#signupbtn {
    display:flex;
    justify-content: flex-end;
    margin-top:2%;
   
}


#signupbtn a{
    text-decoration: none;
    color: inherit;
    background-color: transparent;
    border-bottom: 1px solid #598392;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 90%;
    font-weight: bold;
    display:block;
    padding:1%;

   
    
}


#signupbtn a:hover{
    border: 2px solid #598392;
    color:#598392;
}

#signupbtn i{
    color:#598392
    }

/* hero video and overlay text*/
#video-outer{
    width: 100%;
    overflow: hidden;
    display:flex;
    justify-content: flex-start;
    align-items: center;
    position:relative;
}

#main-video{
    min-width: 100%;
  min-height: 100%;
 
}



#background{
    position:absolute;
    top:auto;
    left:0;
    text-align: center;
    background:rgba(18, 69, 89, 0.3);
    height:100%;
    width:100%;
  
}



#background h1 {

    font-size: 500%;
    color:rgb(	239, 246, 224);
    text-transform: uppercase;
}


#background h3{
    color:white;
}



#background a{
    text-decoration: none;
    color: inherit;
    font-size:170%;
}



#background a:hover{
    color:#eff6e0;
    font-size:300%;
}


/* menu of the day section */
#moftheday{
    text-align: justify;
    font-size: 80%;
    max-width: 70%;
    position:relative;
    left:15%;
}

#moftheday p{
    margin:1%;
}


#breakfast{
    margin:1%;
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 2%;
    border-bottom: 2px solid #3a3a3a;
}

#brimage img{
    width:90%;
    height: 90%;
    border-radius: 20%;
   
}

#lunch{
    margin:1%;
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 2%;
    border-bottom: 2px solid #3a3a3a;
    
}

#limage img{
    width:80%;
    height: 60%;
    border-radius: 20%;
}

#dinner{
    margin:1%;
    display:flex;
    justify-content:center;
    align-items: center;
    padding: 2%;
    border-bottom: 2px solid #3a3a3a;
    
}

#dimage img{
    width:80%;
    height: 60%;
    border-radius: 20%;
}

/* breakfast page */

   
#breakfastrecipes1 {
    width: 100%;
    display:flex;
    flex-flow:row wrap;
    justify-content: space-around;
    
    
   
}
#breakfastrecipes2 {
    width: 100%;
    display:flex;
    flex-flow: row-reverse wrap;
    justify-content: space-around;
    
   
}

#breakfastrecipes3 {
    width: 100%;
    display:flex;
    flex-flow:row wrap;
    justify-content: space-around;
    
   
}

#breakfastrecipes4 {
    width: 100%;
    display:flex;
    flex-flow:row-reverse wrap;
    justify-content: space-around;
  
   
}

#breakfastrecipes img{
    max-height:90%;
    max-width: 90%;
    border-radius: 50%;
}

#breakfastrecipes{
    text-align: justify;
}



  /* lunch page */


   
  #lunchrecipes1 {
    width: 100%;
    display:flex;
    flex-flow:row wrap;
    justify-content: space-around;
    
    
   
}
#lunchrecipes2 {
    width: 100%;
    display:flex;
    flex-flow: row-reverse wrap;
    justify-content: space-around;
    
   
}

#lunchrecipes3 {
    width: 100%;
    display:flex;
    flex-flow:row wrap;
    justify-content: space-around;
    
   
}

#lunchrecipes4 {
    width: 100%;
    display:flex;
    flex-flow:row-reverse wrap;
    justify-content: space-around;
  
   
}

#lunchrecipes img{
    max-height:90%;
    max-width: 90%;
    border-radius: 50%;
}

#lunchrecipes{
    text-align: justify;
}



/* hyperlinks section */

#hyperlinks{
    display:flex;
    justify-content: center;
    align-items: center;
   margin-left: 3%;
   position:relative;
}



#hyperlinks img{
    max-height: 90%;
    max-width: 90%;
 
    }

  
    #hyperlinks h1{
       
        font-family: 'IBM Plex Sans', sans-serif;
            text-transform: uppercase;
            color: rgba(239, 246, 224, 0.9);
            align-items: flex-end;
            
        }
        
    
#hyperlinks a {
    text-decoration: none;
}





#hyperlinks img:hover{
   border: 2px solid #598392;

    }


    /* footer */

    footer {
        height: 150px;
    }
    
    .icons {
        text-align: center;
    }
    
    .icons  li {
        display: inline;
    }
    
    .icons i {
        font-size: 160%;
        margin: 1%;
        padding: 5%;
        color: #3a3a3a;
    }
    
    .icons i:hover{
        color:#598392;
    }



