@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400&family=Space+Grotesk:wght@300&display=swap');


body, html{
    height: 100%;
    width:100%;
   
   
   
   
}


/*  text */

 
body {
    font-weight: 300;
    color: #555b6e;
    font-family: 'Space Grotesk', sans-serif;
}

p {
    font-family: 'Space Grotesk', sans-serif;
}

h1, h2 {
    font-family: 'IBM Plex Sans', sans-serif;
}

h1{
    font-size: 250%;
    text-align: center;
}


/* logo */

#logo img{
    width:6%;
    position:absolute;
    top:2%;
    left:2%;


}


#logo img:hover{
    border: 2px solid #598392;


}

/* navigation bar */
header{
    margin-bottom:2.5%;
    
}
  

  .navbar {
      display:flex; 
      justify-content: center;
      flex-direction: row-reverse;
      align-items: center;
      gap:5%;
      margin-top: 2%;
}

  .navbar a{
    display: block;
    padding: 1em;
    text-decoration: none;
    color: inherit;
    background-color: transparent;
    border-bottom: 1px solid #598392;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 90%;

  }


  .navbar a:hover {
    border-bottom: 2px solid #598392;
    border-top: 2px solid #598392;
    color:#598392;
   
}

.navbar li {
    list-style-type: none;
   
}




 

/*signup button */
#signupbtn {
    
    position:absolute;
    top:2%;
    right:2%;
    width:10%;
    padding:2%;
    margin-top: 1%;
   
}


#signupbtn a{
    text-decoration: none;
    color: inherit;
    background-color: transparent;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 100%;
    font-weight: bold;
    display:block;

}


#signupbtn a:hover{
    font-size: 110%;
    color:#598392;
}

#signupbtn i{
    color:#598392;
    }

/* hero video and overlay text*/
#video-outer{
    width: 100%;
    overflow: hidden;
    display:flex;
    justify-content: flex-start;
    align-items: center;
    position:relative;
   
   
}

#main-video{
    min-width: 100%;
  min-height: 100%;
  
 
}



#background{
    position:absolute;
    top:auto;
    left:0;
    text-align: center;
    background:rgba(18, 69, 89, 0.3);
    height:100%;
    width:100%;
  
}



#background h1 {

    font-size: 500%;
    color:rgb(	239, 246, 224);
    text-transform: uppercase;
}


#background h3{
    color:white;
}



#background a{
    text-decoration: none;
    color: inherit;
    font-size:170%;
}



#background a:hover{
    color:#eff6e0;
    font-size:300%;
}


/* menu of the day section */
#moftheday{
    text-align: justify;
    font-size: 80%;
    max-width: 70%;
    position:relative;
    left:15%;
}

#moftheday img:hover{
width: 100%;
}

#moftheday p{
    margin:1%;
}


#breakfast{
    margin:1%;
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 2%;
    border-bottom: 2px solid #3a3a3a;
   

}

#brimage img{
    width:80%;
    height: 80%;
    border-radius: 20%;
   
}

#lunch{
    margin:1%;
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 2%;
    border-bottom: 2px solid #3a3a3a;
    
}

#limage img{
    width:90%;
    height: 60%;
    border-radius: 20%;
}

#dinner{
    margin:1%;
    display:flex;
    justify-content:center;
    align-items: center;
    padding: 2%;
    border-bottom: 2px solid #3a3a3a;
    
}

#dimage img{
    width:80%;
    height: 60%;
    border-radius: 20%;
}

/* breakfast page */

   
#breakfastrecipes1 {
    width: 100%;
    display:flex;
    flex-flow:row wrap;
    justify-content: center;
    align-items: center;
    gap:1%;
    
    
    
   
}

.flexleft{
max-width:35%;
}

#breakfastrecipes2 {
    width: 100%;
    display:flex;
    flex-flow: row-reverse wrap;
    justify-content: space-around;
    align-items: center;
    gap:1%;
    
   
}

#breakfastrecipes3 {
    width: 100%;
    display:flex;
    flex-flow:row wrap;
    justify-content: space-around;
    align-items: center;
    gap:1%;
    
   
}

#breakfastrecipes4 {
    width: 100%;
    display:flex;
    flex-flow:row-reverse wrap;
    justify-content: space-around;
    align-items: center;
    gap:1%;
  
   
}

#breakfastrecipes img{
    max-height:90%;
    max-width: 90%;
    border-radius: 50%;
}

#breakfastrecipes{
    text-align: justify;
    margin:1%;
    max-width: 90%;
}



  /* lunch page */


   
  #lunchrecipes1 {
    width: 100%;
    display:flex;
    flex-flow:row wrap;
    justify-content: space-around;
    align-items: center;
    gap:1%;
    
    
   
}
#lunchrecipes2 {
    width: 100%;
    display:flex;
    flex-flow: row-reverse wrap;
    justify-content: space-around;
    align-items: center;
    gap:1%;
    
   
}

#lunchrecipes3 {
    width: 100%;
    display:flex;
    flex-flow:row wrap;
    justify-content: space-around;
    align-items: center;
    gap:1%;
    
   
}

#lunchrecipes4 {
    width: 100%;
    display:flex;
    flex-flow:row-reverse wrap;
    justify-content: space-around;
    align-items: center;
    gap:1%;
  
   
}

#lunchrecipes img{
    max-height:90%;
    max-width: 90%;
    border-radius: 50%;
}

#lunchrecipes{
    text-align: justify;
}


/* dinner page*/

 
#dinnerrecipes1 {
    width: 100%;
    display:flex;
    flex-flow:row wrap;
    justify-content: space-around;
    align-items: center;
    gap:1%;
    
    
   
}
#dinnerrecipes2 {
    width: 100%;
    display:flex;
    flex-flow: row-reverse wrap;
    justify-content: space-around;
    align-items: center;
    gap:1%;
    
   
}

#dinnerrecipes3 {
    width: 100%;
    display:flex;
    flex-flow:row wrap;
    justify-content: space-around;
    align-items: center;
    gap:1%;
    
   
}

#dinnerrecipes4 {
    width: 100%;
    display:flex;
    flex-flow:row-reverse wrap;
    justify-content: space-around;
    align-items: center;
    gap:1%;
  
   
}

#dinnerrecipes img{
    max-height:90%;
    max-width: 90%;
    border-radius: 50%;
}

#ldinnerrecipes{
    text-align: justify;
}



/* signuppage*/
#signuppage{
    background: url("../images/onion2.jpg") no-repeat center center fixed;
    min-height: 100%;
    min-width: 100%;
    width: 100%;
    height: 100%;
    color:#fafafa;
    
}

#signuppage h2{
    color:white;
    text-align: center;
}

#signupform{
    text-align:start;
    background-color:rgba(18, 69, 89, 0.4);
    max-width:500px;
    position:absolute;
    left:30%;
    top:35%;
    padding:30px;
    font-weight: bold;
}

.input{
    background:transparent;
    margin:5px 0 15px 0;
    border:1px solid white;
    color:#fafafa;
    width:100%;
    height:25px;
  
}

.radiobutton:hover{
    background-color: #598392;
}


.input:hover{
    background-color: rgba(239, 246, 224, 0.4);
    border-radius:3px ;
    border-color:#eff6e0;
}


#signupbutton{
    margin-top:20px;
    margin-left: 35%;
    border-radius:5px;
    padding:10px 30px;
    text-align:center;
    font-size:130%;
    background-color:rgba(239, 246, 224, 0.4);
    color:#fafafa;
    display:block;
}

#signupbutton:hover{
    background-color: rgba(18, 69, 89, 0.5);
    border-color: #eff6e0;
}


input[type="radio"]{
  height: 15px;
  width: 15px;
  background-color:transparent;
  margin:2%;
}




/* about page*/
#flexabout{
    width: 100%;
    display:flex;
    flex-direction:row ;
    justify-content: space-around;
    

}

#flexabout video{
    max-width: 20%;
    width:33%;
    border-radius: 50%;
    -webkit-filter: grayscale(100%);
	filter: grayscale(100%);
}

#flexabout video:hover{
    -webkit-filter: grayscale(0);
	filter: grayscale(0);
    border-radius: 10%;

}

#aboutcontent{
    width: 90%;
    display:flex;
    flex-direction:row ;
    justify-content: space-around;
    margin-left:5%;
}

.aboutinfo{
    margin:1%;
    width:30%;
    text-align: justify;
}

.aboutinfo h2{
    text-align: center;
}


/* hyperlinks section */

#hyperlinks{
    max-width:900%;
    width:100%;
    display:flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    bottom:10%;
   
 
   
}





#hyperlinks img{
    max-width: 95%;
    -webkit-filter: grayscale(40%);
	filter: grayscale(40%);
    

    }

#hyperlinks img:hover{
    -webkit-filter: grayscale(0);
	filter: grayscale(0);
    border-radius: 10%;
	
}
  
    #hyperlinks h1{
       
        font-family: 'IBM Plex Sans', sans-serif;
            text-transform: uppercase;
            color:rgba(239, 246, 224, 0.9);
            font-size:400%;
           
          
            
        }
        
    
#hyperlinks a {
    text-decoration: none;
}







    /* footer */

    footer {
        height: 150px;
    }
    
    .icons {
        text-align: center;
    }
    
    .icons  li {
        display: inline;
    }
    
    .icons i {
        font-size: 160%;
        margin: 1%;
        padding: 5%;
        color: #3a3a3a;
    }
    
    .icons i:hover{
        color:#598392;
    }




    /* Media queries */

/* For larger to medium screens size from 1200px wide and down */
@media screen and (max-width: 1200px) {
#moftheday{
    width: 65%;
    height: 1200px;
    margin: 0 auto;
}


#breakfast{
flex-wrap: wrap;
justify-content: center;
}


#lunch{
flex-wrap:wrap;
justify-content: center;
}

#dinner{
    flex-wrap:wrap;
    justify-content: center;
}




}


@media screen and (max-width: 950px) {

   

    .navbar {
        display: flex;
        justify-content: space-evenly;
        width:100%;
        position: fixed;
        background-color: white;
        bottom: 0;
        left:0;
        z-index: 99;
        padding: 2%;
        
        }

        header{
            margin-bottom: 10%;
        }

        
       
        
       
}