@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400&family=Space+Grotesk:wght@300&display=swap");

body,
html {
    height: 100%;
    width: 100%;
}

/*  text */

body {
    font-weight: 300;
    font-family: "Space Grotesk", sans-serif;
    margin-left: 0;
    margin-right: 0;
}

p {
    font-family: "Space Grotesk", sans-serif;
    font-size: 1rem;
    color: #555b6e;
    text-align: justify;
}

h1 {
    font-size: 2.5rem;
    font-family: "IBM Plex Sans", sans-serif;
    color: #1e4a5c;
}

h2 {
    font-size: 2rem;
    text-align: center;
    font-family: "IBM Plex Sans", sans-serif;
    color: #1e4a5c;
}

h3 {
    font-size: 1.5rem;
    text-align: center;
    font-family: "IBM Plex Sans", sans-serif;
    color: #598392;
}

hr {
    border-top: 1px solid #598392;
}

/* header */

header {
    display: flex;
    padding: 0 20px;
    justify-content: space-between;
    align-items: center;
}

#logo img {
    height: 100px;
}

#logo img:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

/* navigation bar */

.navbar {
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
    align-items: center;
}

.navbar li {
    list-style-type: none;
    margin: 8px;
}

.navbar a {
    display: block;
    padding: 1em;
    text-decoration: none;
    color: inherit;
    background-color: transparent;
    border-bottom: 1px solid #598392;
    font-family: "Space Grotesk", sans-serif;
    font-size: 1rem;
    color: #1e4a5c;
}

.navbar a:hover {
    color: #598392;
    font-weight: bold;
}

/*signup button */

#signupbtn a {
    text-decoration: none;
    color: inherit;
    font-family: "Space Grotesk", sans-serif;
    font-weight: bold;
    display: block;
    color: #1e4a5c;
}

#signupbtn a:hover {
    color: #598392;
}

#signupbtn i {
    color: #598392;
}

/* main video and overlay text*/
#video-outer {
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}

#main-video {
    max-width: 100%;
    width: 100%;
    height: 480px;
    overflow: hidden;
}

#background {
    position: absolute;
    top: auto;
    left: 0;
    text-align: center;
    background: rgba(18, 69, 89, 0.5);
    height: 100%;
    width: 100%;
}

#background h1 {
    color: rgb(239, 246, 224);
    text-transform: uppercase;
    font-size: 5.5rem;
}

#background h3 {
    color: white;
    font-family: "Space Grotesk", sans-serif;
}

/* menu of the day section */

#moftheday p,
#moftheday h3 {
    color: #555b6e;
}

.menu-list-item {
    display: flex;
    width: 90%;
    align-items: center;
    justify-content: center;
    margin: 48px auto;
    border-bottom: 1px solid #598392;
}

.recipe {
    padding: 50px;
    width: 50%;
}

.image {
    width: 50%;
}

.image img {
    max-width: 400px;
    border-radius: 10%;
}

/* breakfast, lunch, dinner page */

.recipes-list-item {
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: space-between;
    margin: 48px auto;
    text-align: justify;
}

.recipes-list-item:nth-child(even) {
    flex-direction: row-reverse;
}

.flexleft {
    width: 50%;
    margin-right: 20px;
    padding: 20px;
}

.flexright {
    width: 50%;
    padding: 20px;
}

.recipes-list-item img {
    max-width: 400px;
    border-radius: 50%;
}

#breakfastrecipes h2 {
    border-bottom: 1px solid #598392;
}

#lunchrecipes h2 {
    border-bottom: 1px solid #598392;
}

#dinnerrecipes h2 {
    border-bottom: 1px solid #598392;
}

/* signuppage */

#signuppage {
    background: url("../images/onion2.jpg") no-repeat center center fixed;
    min-height: 100%;
    min-width: 100%;
    width: 100%;
    height: 100%;
}

#signuppage h2 {
    color: #598392;
    text-align: center;
}

.form-section {
    display: flex;
    justify-content: center;
}

#signup-form {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    max-width: 600px;
    padding: 30px;
    font-weight: bold;
    border-radius: 10px;
    margin-top: 50px;
}

.input {
    background: transparent;
    margin: 5px 0 15px 0;
    border: 1px solid #598392;
    color: #1e4a5c;
    width: 100%;
    height: 25px;
}

.radiobutton:hover {
    background-color: #598392;
}

#signup-button {
    margin-top: 20px;
    margin-left: 35%;
    border-radius: 5px;
    padding: 10px 30px;
    text-align: center;
    font-size: 130%;
    background-color: rgba(18, 69, 89, 0.8);
    color: white;
    display: block;
}

#signup-button:hover {
    background-color: white;
    border-color: #598392;
    color: #598392;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

input[type="radio"] {
    height: 15px;
    width: 15px;
    margin: 2%;
}

/* about page*/
#flexabout {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#flexabout video {
    max-width: 20%;
    width: 33%;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

#flexabout video:hover {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
    border-radius: 10%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#aboutcontent {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 5%;
}

.aboutinfo {
    margin: 1%;
    width: 30%;
    text-align: justify;
}

.aboutinfo h2 {
    text-align: center;
}

/* hyperlinks section */

#hyperlinks {
    max-width: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    margin-bottom: 40px;
}

#hyperlinks img {
    max-width: 95%;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

#hyperlinks img:hover {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
    border-radius: 10%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

/* footer */

footer {
    height: 150px;
    margin: 40px 100px;
}

.icons {
    text-align: center;
}

.icons li {
    display: inline;
}

.icons i {
    font-size: 2rem;
    color: #3a3a3a;
    padding-left: 30px;
}

.icons i:hover {
    color: #598392;
}

/* Media queries */

/* Mobile phone screens */

@media screen and (max-width: 600px) and (min-width: 320px) {
    p {
        text-align: justify;
    }

    /* header */

    #background h1 {
        font-size: 3rem;
    }

    #background h3 {
        font-size: 1rem;
    }

    #logo img {
        height: 100px;
    }

    .navbar {
        justify-content: center;
        gap: 0px;
        width: 100%;
        position: fixed;
        bottom: -17px;
        left: -40px;
        background-color: rgba(18, 69, 89, 0.9);
        z-index: 99;
        color: white;
    }

    .navbar a {
        padding: 15px 9px;
        border-right: 1px solid #598392;
        border-bottom: none;
        color: white;
    }

    .navbar a:hover {
        color: white;
    }

    #signupbtn {
        font-size: 1.2rem;
        margin-right: -20px;
        border: 2px solid #598392;
        background-color: rgba(18, 69, 89, 0.4);
        border-radius: 10px 0px 0px 10px;
    }

    /* menu of the day section */

    #moftheday {
        width: 100%;
        margin: 0 auto;
    }

    .menu-list-item {
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        
    }

    .recipe {
        width: 100%;
    }

    .image {
        width: 100%;
        padding-bottom: 30px;
        text-align: center;
    }

    .image img {
        width: 300px;
    }

    /* hyperlinks explore section */

    #explore h2 {
        display: none;
    }

    #hyperlinks {
        display: none;
    }

    #hyperlinks h2 {
        display: none;
    }

    /* footer section */

    footer {
        position: fixed;
        right: 0px;
        top: 50%;
        width: 50px;
        background: rgba(18, 69, 89, 0.8);
        height: 200px;
        border-radius: 10px 0px 0px 10px;
        box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
        transform: translateY(-50%);
        margin: 0 auto;
    }

    footer hr {
        display: none;
    }

    .icons i {
        color: white;
        padding-bottom: 10px;
    }

    .icons i:hover {
        color: #eff6e0;
    }

    .icons {
        position: absolute;
        right: 5px;
    }

    /* BREAKFAST, LUNCH, DINNER PAGE*/

    .recipes-list-item {
        flex-wrap: wrap;
        text-align: center;
        margin: 0 auto;
        width: 100%;
    }

    .flexleft {
        width: 100%;
    }

    .flexright {
        width: 100%;
        text-align: center;
    }

    .recipes-list-item img {
        max-width: 300px;
    }

    /* About Page */
    #flexabout {
        flex-wrap: wrap;
    }

    #flexabout video {
        max-width: 100%;
        width: 30%;
        -webkit-filter: grayscale(0);
        filter: grayscale(0);
    }

    #aboutcontent {
        width: 90%;
        flex-wrap: wrap;
        margin-bottom: 40px;
    }

    .aboutinfo {
        width: 90%;
        text-align: center;
    }

    /* Signup page*/
    #signup-form {
        margin-bottom: 80px;
    }

    #signupbutton {
        margin-top: 20px;
        margin-left: 28%;
    }

    #container {
        padding-bottom: 50px;
    }
}

/* TABLET SCREENS */

@media screen and (min-width: 600px) and (max-width: 1024px) {
    p {
        text-align: justify;
    }

    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.8rem;
    }

    h3 {
        font-size: 1.5rem;
    }

    /* header */

    #logo img {
        height: 100px;
    }

    header {
        max-width: 100%;
    }

    .navbar {
        width: 100%;
        position: fixed;
        bottom: -17px;
        right: -30px;
        background-color: rgba(18, 69, 89, 0.9);
        z-index: 99;
        color: white;
    }

    .navbar a {
        border: 2px solid #598392;
        margin-right: 70px;
        color: white;
    }

    .navbar a:hover {
        border: 2px solid white;
        color: white;
        border-radius: 10%;
    }

    #signupbtn {
        padding: 10px 20px;
        margin-right: -20px;
        border: 2px solid #598392;
        background-color: rgba(18, 69, 89, 0.4);
        border-radius: 10px 0px 0px 10px;
    }

    /* menu of the day section */

    .menu-list-item {
        flex-wrap: wrap;
        text-align: center;
        margin: 0 auto;
    }

    .recipe {
        width: 100%;
    }

    .image {
        width: 100%;
    }

    .image img {
        max-width: 400px;
        border-radius: 10%;
    }

    /* hyperlinks explore section */

    #hyperlinks {
        padding-bottom: 80px;
    }

    /* footer section */

    footer {
        position: fixed;
        right: 0px;
        top: 50%;
        width: 50px;
        background: rgba(18, 69, 89, 0.8);
        height: 200px;
        border-radius: 10px 0px 0px 10px;
        box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
        transform: translateY(-50%);
        margin: 0 auto;
    }

    footer hr {
        display: none;
    }

    .icons i {
        color: white;
        padding-bottom: 10px;
    }

    .icons i:hover {
        color: #eff6e0;
    }

    .icons {
        position: absolute;
        right: 5px;
    }

    /* BREAKFAST, LUNCH, DINNER PAGE*/

    .recipes-list-item {
        flex-wrap: wrap;
        text-align: center;
        margin: 0 auto;
    }

    .flexleft {
        width: 100%;
    }

    .flexright {
        width: 100%;
    }

    /* About Page */
    #flexabout {
        flex-wrap: wrap;
    }

    #flexabout video {
        max-width: 100%;
        width: 30%;
        -webkit-filter: grayscale(0);
        filter: grayscale(0);
    }

    #aboutcontent {
        width: 90%;
        flex-wrap: wrap;
    }

    .aboutinfo {
        width: 90%;
        text-align: center;
    }

    /* Signup page*/

    #signup-form {
        text-align: start;
        max-width: 80%;
        margin-top: 50px;
    }

    #signup-button {
        margin-top: 20px;
        margin-left: 35%;
    }
}
